.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px
}
.select-child-div{
  margin-bottom: 10px;
  
}
.select input{
  width: 100px;
}
.list-style{
  border: gray solid 1px;
  width: 400px;
  height: 500px;
}